* {

    margin: 0;
  
    padding: 0;
  
    box-sizing: border-box;
  
  }
  
   .navbar-nav {
    width: 100%;
    justify-content: space-evenly;
  }
  .navbar-nav .nav-link {
    color: white;
  }
  
  body{
    min-height: 100vh;
  }