.about-img {
    background-image: url('../assets/images/Aboutus.jpg');
  
    h1 {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 1.5rem;
    }
  }